/* CSS  Reset - Hard Reset */
*{
	font-family: 'Titillium Web', sans-serif;
	font-weight:normal;
	font-style:normal;
	margin:0;
	padding:0;
	border:0;
	background:transparent;
}

body{
	background-color:#222;
	color:#fff;
}

/* Header */
#header{
	width:100%;
	padding:20px 0;
	background-color:#000;
	overflow:hidden;
	border-bottom:5px #E73C34 solid;
}
	
#clubLogo{
	float:left;
	padding-left:50px;
}

#clubLogo img{
	width:370px;
	height:70px;
}
	
#navigation{
	float:right;
	padding-right:50px;
	padding-top:21px;
}

#navigation ul{
	width:100%;
	margin:0;
	float:left;
}
	
#navigation ul li{
	display:inline;
	position:relative;
	margin:0 15px;
}

#navigation ul li a{
	text-decoration:none;
	color:#fff;
	font-size:17px;
	text-transform:uppercase;
	font-weight:bolder;
}
	
#navigation a::after{
	content:'';
	height:3px;
	width:0;
	background-color:#FB4443;
	position:absolute;
	left:0;
	bottom:-5px;
	transition:0.5s;
}
	
#navigation a:hover::after{
	width:100%;
}

/*---------------------------------------------------- About Us - Banner ---------------------------------------------------- */
#aboutus-banner{
	width:100%;
	background-color:#000;
	text-align:center;
	margin-bottom:20px;	
	color:#FFF;
	padding:10px 0;
}

#aboutus-ban-box{
	width:80%;
	margin:0 auto;
	background-color:#333333;
	box-shadow:0px 5px 15px 10px rgba(255,255,255,0.5);
	border-radius: 100px;
}

#aboutus-banner h1{
	font-size:45px;
	font-weight:bold;
	text-transform:uppercase;
	margin-bottom:50px;
	padding-top:110px;
}

#aboutus-banner p{
	margin-bottom:30px;
	font-size:18px;
	font-weight:400;
}

#aboutus-banner img{
	width:150px; 
	height:120px;
	padding-bottom:80px;
	transition:0.5s ease;
}

#aboutus-banner img:hover{
	transform:scale(1.1);
}

/* ---------------------------------------------------- About Us - Content 1 ---------------------------------------------------- */
#aboutus-c1{
    width:80%;
    margin:0 auto;
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
}

.c1-col{
    flex-basis:48%;
    padding:40px 5px;
}

.c1-col img{
    width:100%;
}

.c1-col h2{
    text-align:center;
	font-size:40px;
	font-weight:bolder;
}

.c1-col p{
    font-size:18px;
	font-weight:400;
	text-align:justify;
    margin-top:10px;
    margin-bottom:30px;
}

/* ---------------------------------------------------- About Us - Our Vision & Our Mission ---------------------------------------------------- */
#aboutus-c2-3{
	width:80%;
	margin:0 auto;
	text-align:center;
	padding-bottom:130px;
}

#aboutus-c2-3 h2{
	font-size:40px;
	font-weight:bolder;
}

#aboutus-c2-3 p{
	font-size:18px;
	font-weight:400;
	margin-top:10px;
}

.c2-3-img{
	margin-top:80px;
	display:flex;
	justify-content:space-between;
}

.c2-3-col{
	flex-basis:31%;
	height:auto;
	border-radius:20px;
	position:relative;
	overflow:hidden;
}

.c2-3-col img{
	width:100%;
	height:100%;
	display:block;
	margin:1px;
}

.c2-3-layer{
	background-color:transparent;
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	transition:0.5s ease;
}

.c2-3-layer:hover{
	background-color:rgba(70, 70, 70, 0.7);
}

.c2-3-layer h3{
	color:#FFFF00;
    width: 100%;
    font-weight: 600;
    font-size: 25px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.c2-3-layer:hover h3{
    bottom: 45%;
    opacity: 1;
} 

/* ---------------------------------------------------- About Us - Our Motto ---------------------------------------------------- */
#aboutus-c4{
	width:80%;
	margin:0 auto;
	text-align:center;
	padding-bottom:130px;
}

#aboutus-c4 h2{
	font-size:40px;
	font-weight:bolder;
}

#aboutus-c4 h3{
	font-size:28px;
	color:#FFFF00;
	font-weight:bolder;
	margin:15px 0;
}

#aboutus-c4 p{
	font-size:18px;
	font-weight:400;
}

#aboutus-c4 img{
	width:80%;
	height:100%;
	margin-top:80px;
	border-radius:30px;
}

/* ---------------------------------------------------- Contact Us ---------------------------------------------------- */
#contactus-bg{
	background-color:#fff;
}

#contactus-subhd h1{
	color:#000;
	text-align:center;
	font-size:45px;
	font-weight:bold;
	text-transform:uppercase;
	padding:100px 0;
}

#contactus-map{
	width: 80%;
    margin: auto;
}

#contactus-map iframe{
	width:100%;
	border-radius:20px;
}

/* ---------------------------------------------------- Contact Us - Form and Contact Details ---------------------------------------------------- */
#contactus-c1{
	width:80%;
    margin:0 auto;
    padding: 120px 0;
    display: flex;
    justify-content: space-between;
	color:#000;
}

.contactus-c1-left{
	flex-basis:60%;
	padding-right:80px;
}

.contactus-c1-left h3{
	text-align:center;
	font-size:30px;
	font-weight:bolder;
	margin-bottom:50px;
}

.contactus-c1-right{
	flex-basis:40%;
	padding-left:50px;
}

.contactus-c1-right h3{
	text-align:center;
	font-size:30px;
	font-weight:bolder;
	margin-bottom:50px;
}

.contactus-c1-left label{
	margin-top:22px;
	margin-bottom:12px;
	display:block;
	color:#FF0000;
	font-size:22px;
	font-weight:600;
}

.contactus-c1-left input{
	width:100%;
	border:none;
	border-bottom:1px #000 solid;
	outline:none;
	padding:0 0 5px 5px;
	font-size:15px;
	font-weight:400;
}

.contactus-c1-left textarea{
	width:100%;
	border:1px #000000 solid;
	outline:none;
	padding:10px;
	box-sizing:border-box;
	font-size:15px;
	font-weight:400;
}

.contactus-c1-left .button{
	background-color:#FF0000;
	width:120px;
	border:none;
	outline:none;
	color:#FFF;
	height:40px;
	border-radius:30px;
	margin:50px 0;
	margin-right:20px;
	box-shadow:0 5px 15px 0 rgba(28,0,181,0.3);
	font-size:18px;
	text-transform:uppercase;
}

.contactus-c1-left .button:hover{
	background-color:#fff;
	color:#000;
	border:3px solid #FF0000;
}

.getintouch{
	margin:0 auto;
}

.getintouch th{
	font-size:25px;
	font-weight:600;
	padding-bottom:5px;
}

.getintouch td{
	font-size:18px;
	font-weight:400;
}

/* ---------------------------------------------------- Enrollment Form ---------------------------------------------------- */
#enrollment-subhd h1{
	text-align:center;
	font-size:45px;
	font-weight:bold;
	text-transform:uppercase;
	padding-top:100px;
	padding-bottom:30px;
}

/* ---------------------------------------------------- Enrollment Form - c1 ---------------------------------------------------- */
#enrollment-c1{
	width:80%;
	margin:0 auto;
	text-align:center;
	padding-bottom:60px;
}

#enrollment-c1 h5{
	font-size:30px;
	font-weight:bolder;
}

#enrollment-c1 p{
	font-size:18px;
	font-weight:400;
	margin-top:10px;
}

.ec1-img{
	margin-top:80px;
	display:flex;
	justify-content:space-between;
}

.ec1-col{
	flex-basis:31%;
	height:auto;
	border-radius:20px;
	position:relative;
	overflow:hidden;
}

.ec1-col img{
	width:100%;
	height:100%;
	display:block;
	margin:1px;
}

.ec1-layer{
	background-color:transparent;
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	transition:0.5s ease;
}

.ec1-layer:hover{
	background-color:rgba(70, 70, 70, 0.7);
}

.ec1-layer h3{
	color:#FFFF00;
    width: 100%;
    font-weight: 600;
    font-size: 25px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.ec1-layer:hover h3{
    bottom: 45%;
    opacity: 1;
} 

/* ---------------------------------------------------- Enrollment Form - Form ---------------------------------------------------- */
#enrollment-form{
	width:80%;
	margin:0 auto;
	padding:60px 0;
	display:flex;
	justify-content: space-between;
	padding-bottom:130px;
}

.enroll-right{
	width:100%;
	box-sizing:border-box;
	padding-left:50px;
}

.right-wrapper{
	background-color: #2b2b2a;
    width: 900px;
    height: 100%;
    padding: 25px;
    margin: 25px auto;
    box-shadow: 0 0 20px rgba(231, 235, 246, 0.5);
    box-sizing: border-box;
}

.right-wrapper h2{
    background-color: #fcfcfc;
    color: #C72600 ;
    font-size: 30px;
	font-weight:bolder;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    border: 1px dotted #333;
}

.right-wrapper h4{
    padding-bottom: 5px;
    color: #FFFF00 ;
	font-size:20px;
	font-weight:bolder;
}

.ef-group{
	margin-bottom:8px;
	width:100%;
	position:relative;
	display:flex;
	flex-direction:row;
	padding:10px 0;
}

.ef-input-box{
	width:100%;
	position:relative;
}

.text{
	padding:14px 10px;
	width:90%;
	background-color: #fcfcfc;
	border:1px solid #000000;
	outline:none;
	letter-spacing:1px;
	border-radius:5px;
	color:#333;
	font-size:16px;
	transition: 0.3s;
}

.text2{
	padding:14px 10px;
	width:95%;
	background-color: #fcfcfc;
	border:1px solid #000000;
	outline:none;
	letter-spacing:1px;
	border-radius:5px;
	color:#333;
	font-size:16px;
	transition: 0.3s;
}

.text:focus, .text2:focus, .dob:focus{
	border:1px solid #FF0000;
	box-shadow: 0 0 2px 1px #FF0000;
}

.dob{
	width:15%;
	padding:14px;
	text-align:center;
	background-color:#fcfcfc;
	outline:none;
	border:1px solid #333;
	border-radius:5px;
	font-size:16px;
	transition: 0.3s;
}

.radio{
	display:none;
}

.ef-input-box label{
	width:41%;
	padding:13px;
	background-color:#fcfcfc;
	float:left;
	text-align:center;
	border:1px solid #333;
	font-size:16px;
	color:#333;
}

.radio:checked + label{
    background-color: #f44336;
    color: #fff;
    transition: 0.3s;
}

.ef-input-box select{
	border-radius:5px;
    width: 100%;
    padding: 10px;
    background-color: #fcfcfc;
    float: left;
    text-align: center;
    font-size: 16px;
    outline: none;
    border: 1px solid #c0bfbf;
    cursor: pointer;
    transition: all 0.2s ease;
}

.ef-input-box select:focus{
    text-align: center;
}

.right-wrapper .button{
	background-color:#FF0000;
	width:120px;
	border:none;
	outline:none;
	color:#FFF;
	height:40px;
	border-radius:5px;
	margin-top:30px;
	margin-right:20px;
	box-shadow: 0 0 2px 1px #FF0000;
	font-size:16px;
	text-transform:uppercase;
}

.right-wrapper .button:hover{
	background-color:#fff;
	color:#000;
	border:3px solid #FF0000;
}

/* ---------------------------------------------------- Event Form ---------------------------------------------------- */
#eventform-subhd h1{
	text-align:center;
	font-size:45px;
	font-weight:bold;
	text-transform:uppercase;
	padding-top:100px;
	padding-bottom:50px;
}

#eventform-c1{
	text-align:center;
	margin: 0 auto;
	width:80%;
}

#eventform-c1 h5{
	font-size:30px;
	font-weight:bolder;
}

#eventform-c1 p{
	font-size:18px;
	font-weight:400;
	margin-top:10px;
}

.event-vid{
	margin-top:30px;
}

/* ---------------------------------------------------- Event Form - Form ---------------------------------------------------- */
#event-wrapper{
	width:60%;
	margin:100px auto; 
	box-sizing:border-box;
	padding:25px;
	box-shadow: 0 0 50px rgba(231, 235, 246, 0.5);
	background-color:#fff;
}

#event-wrapper h2{
    background-color: #fcfcfc;
    color: #C72600 ;
    font-size: 30px;
	font-weight:bolder;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    border: 1px dotted #333;
}

#event-wrapper h4{
    padding-bottom: 5px;
    color: #FF0000 ;
	font-size:24px;
	font-weight:bolder;
}

.text3{
	width:100%;
	border:none;
	border-bottom:1px #000 solid;
	outline:none;
	padding-bottom:5px;
	font-size:15px;
	font-weight:400;
}

.radio{
	display:none;
}

.ef-input-box label{
	width:41%;
	padding:13px;
	background-color:#fcfcfc;
	float:left;
	text-align:center;
	border:1px solid #333;
	font-size:16px;
	color:#333;
}

.radio:checked + label{
    background-color: #f44336;
    color: #fff;
    transition: 0.3s;
}

.ef-input-box textarea{
	width:100%;
	border:1px #000000 solid;
	outline:none;
	padding:10px;
	box-sizing:border-box;
	font-size:15px;
	font-weight:400;
}

#event-wrapper .button{
	background-color:#FF0000;
	width:120px;
	border:none;
	outline:none;
	color:#FFF;
	height:40px;
	border-radius:5px;
	margin-top:30px;
	margin-right:20px;
	box-shadow: 0 0 2px 1px #FF0000;
	font-size:16px;
	text-transform:uppercase;
}

#event-wrapper .button:hover{
	background-color:#fff;
	color:#000;
	border:3px solid #FF0000;
}

/*-------------------------------------------------------- Footer ----------------------------------------------------------------*/
#footer{
	background-color: #2d2a30;
	box-sizing: border-box;
	width: 100%;
	text-align:left;
	font:bold 16px; 
	padding: 50px 50px 50px 50px;
	
}

#footer .footer-left, #footer .footer-center, #footer .footer-right{
	display:inline-block;
	vertical-align:top;
}

#footer .footer-left{
	width:30%;
	text-align:center;
}

#footer h3{
	color: #fff;
	margin:0;
	font-weight:bold;
	font-size:30px;
	margin-bottom:20px;
}

.footer-left a{
	text-decoration: none;
	color: #fff;
	font-size:17px;
}

.footer-left a:hover{
	color:#000 ;
	background-color:#ff0000 ;
	font-weight: bold;
}

.footer-left p{
	color: #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin-top: 30px;
}

#footer .footer-center{
	width:35%;
}

#footer .footer-center table{
	margin:0 auto;
	padding:10px;
}

#footer .footer-center i{
	background-color: #33383b;
	color:#fff;
	font-size:25px;
	width:38px;
	height:38px;
	border-radius:50%;
	text-align:center;
	line-height:42px;
	margin:10px 15px;
	vertical-align:middle;
}

#footer .footer-center p{
	display:inline-block;
	color:#fff;
	vertical-align:middle;
	margin:0;
}

#footer .footer-right{
	width:30%;
	text-align:center;
	margin-left:20px;
}

#footer .footer-aboutclub{
	line-height: 20px;
	color:#ddd;
	font-size:15px;
	font-weight:normal;
	margin:0;
}

#footer .footer-aboutclub span{
	display:block;
	color:#ddd;
	font-size:18px;
	font-weight:bold;
	margin-bottom:20px;
}

#footer .footer-query{
	line-height: 20px;
	color:#ddd;
	font-size:18px;
	font-weight:normal;
	margin:0;
}

#footer .footer-query span{
	display:block;
	color:#ddd;
	font-size:18px;
	font-weight:bold;
	margin-bottom:20px;
	margin-top:40px;
}

#footer .footer-query a{
	text-decoration: none;
	color:#FFFF00;
	font-weight:bold;
}