/*----------global----------*/

*{
    box-sizing: border-box;
}

html{
    font-size: 16px;
    font-family: 'Titillium Web', sans-serif;
    background-color: rgb(0,0,0);
    color: #FEFEFE;;
}

a{
    color: #00ff37;
    font-weight: bolder;
    text-decoration: none;
}

h1{
    font-size: 16px;
    font-weight: bolder;
}

/* CSS  Reset - Hard Reset */

#header{
	width:100%;
	padding:20px 0;
	background-color:#000;
	overflow:hidden;
	border-bottom:5px #E73C34 solid;
}
	
#clubLogo{
	float:left;
	padding-left:50px;
}

#clubLogo img{
	width:370px;
	height:70px;
}
	
#navigation{
	float:right;
	padding-right:50px;
	padding-top:21px;
}

#navigation ul{
	width:100%;
	margin:0;
	float:left;
}
	
#navigation ul li{
	display:inline;
	position:relative;
	margin:0 15px;
}

#navigation ul li a{
	text-decoration:none;
	color:#fff;
	font-size:17px;
	text-transform:uppercase;
	font-weight:bolder;
}
	
#navigation a::after{
	content:'';
	height:3px;
	width:0;
	background-color:#FB4443;
	position:absolute;
	left:0;
	bottom:-5px;
	transition:0.5s;
}
	
#navigation a:hover::after{
	width:100%;
}

/*----------home.html-----------*/

.container{
    margin: 20px;
    padding: 20px;
}

.subforum{
    margin-top: 20px;
}

.subforum-title{
    background-color: #292B2E;
    padding: 5px;
    border-radius: 5px;
    margin: 4px;
    font-size: 22px;
}

.subforum-description{
    margin-block: 0;
}

.subforum-row{
    display: grid;
    grid-template-columns: 7% 60% 13% 20%;
}

.subforum-column{
    padding: 10px;
    margin: 4px;
    border-radius: 5px;
    background-color: #111314;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.subforum-icon i{
    font-size: 45px;
}

/*---------Small device resizing------------*/
@media screen and (max-width: 460px) {
    .container{
        margin: 10px;
        padding: 10px;
    }
    .subforum-row{
        display: grid;
        grid-template-columns: 25% 75%;
        grid-template-rows: 65% 35%;
    }
    
    .subforum-column{
        padding: 10px;
        margin: 4px;
        border-radius: 5px;
        background-color: #111314;
    }
    .subforum-stats{
        font-size: 12px;
    }
    .subforum-divider{
        display: block;
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(190, 190, 190, 0), rgba(255, 255, 255, 0.75), rgba(190, 190, 190, 0));
    }
}

/*-----------Tablet device resizing----------------*/
@media screen and (min-width: 460px) and (max-width: 1024px) {
    .container{
        margin: 15px;
        padding: 15px;
    }
    .subforum-row{
        display: grid;
        grid-template-columns: 10% 60% 10% 20%;
    }
    .subforum-icon i{
        font-size: 30px;
    }
    html{
        font-size: 16px;
    }
    h1{
        font-size: 18px;
    }
}

/*----------Navbar-------------*/


.hide{
    display: none;
}

.bar-icon{
    font-size: 0px;
    display: inline-block;
    margin-right: 10px;
    color: #fff;
    cursor: pointer;
}

@font-face{
    font-family: aquire;
    src: url(aquire.otf);
}

.brand{
    font-size: 60px;
    display: inline-block;
    font-family: aquire;
}

/*--------navbar for small devices-------------*/
@media screen and (max-width: 460px){
    .navigation{
        max-height: auto;
    }
    
    .nav-item a{
        float: left;
        display: inline;
        text-align: center;
        margin-inline: 3px;
        font-size: 10px;
        padding: 5px;
    }
    
    .close-icon i{
        font-size: 30px;
    }
    
    .brand{
        font-size: 20px;
    }
}

-------
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 65px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 16px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 0.8s;
}

nav .fa{
    display: none;
}

@media(max-width: 700px){
    .text-box h1{
    font-size: 28px;
    }
    .text-box p{
    margin: 10px 0 40px;
    font-size: 13px;
    color: #fff;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: fixed;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}


/*---------footer-------*/

.footer{
    clear:both;
	background: rgb(22, 61, 218);
    display: block;
	margin-top: 30px;
	text-align: center;
	padding: 30px;
	color:#fff;
}

.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.icons .fa{
    color:rgb(10, 238, 254);
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
.fa-heart{
    color: #f44336;
}

/*--------call to action---------*/

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 17px 50px;
    font-size: 18px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 0.3s;
}

.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/learning.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}

.cta-forum{
    margin: 20px auto;
    border-radius: 10px;
    text-align: right;
    padding: 100px 0;
}

.forum-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 30px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.forum-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 0.3s;
}

.cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}

h2{
    font-size: 45px;
}

@media(max-width: 700px){
    .cta h1{
        font-size: 26px;
    }
}

/*---------search box-------*/
.search-box{
    border: solid 1px #52057B;
    margin-top: 20px;
    padding: 40px;
    display: flex;
    justify-content: center;
    box-shadow: 1px 2px 3px #52057b;
}

.search-box select{
    padding: 10px;
}

.search-box input{
    padding: 10px;
}

.search-box button{
    padding: 10px;
    background-color: #fff;
    color: #000000;
}

.search-box button:hover{
    background-color: #000000;
    color: #fff;
    box-shadow: 1px 2px 3px #fff;
}

/*---------search box for small devices-------*/
@media screen and (max-width: 460px){
    .search-box input, .search-box button, .search-box select{
        min-width: 300px;
        margin-top: 5px;
    }
}

/*---------forum info-------*/
.forum-info{
    padding: 20px;
    background-color: #111314;
}

.chart{
    font-size: 20px;
    font-weight: bold;
}

/*--------------------------------------- */
/*---------posts.html-------*/

.table-head{
    display: flex;
}

.table-head div{
    padding: 5px;
    margin: 2px;
    background-color: #2C2C2C;
    font-weight: bold;
}

.table-head .status{
    flex: 5%;
}

.table-head .subjects{
    flex: 40%;
}

.table-head .replies{
    flex: 24%;
}

.table-head .views{
    flex: 13%;
}

.table-head .last-reply{
    flex: 13%;
}

/*-----table body------*/
.table-row{
    display: flex;
}

.table-row .status, .table-row .subjects, .table-row .replies, .table-row .views, .table-row .last-reply{
    padding: 5px;
    margin: 2px;
    background-color: #131415;
} 

.table-row .status{
    flex: 5%;
    font-size: 30px;
    text-align: center;
}

.table-row .subjects{
    flex: 40%;
}
.table-row .replies{
    flex: 24%;
}

.table-row .views{
    flex: 13%;
}

.table-row .last-reply{
    flex: 13%;
}

.pagination{
    padding: 20px;
    font-size: 15px;
    margin-bottom:50px;
}

.pagination a{
    color: #fff;
    margin-inline: 5px;
    padding: 5px 10px;
    border: solid 0.5px #fff;
}

.pagination a:hover{
    opacity: 0.5;
}

/*----- Navigation------*/
.navigate{
    margin-block: 20px;
    font-weight: lighter;
    font-size: 24px;
}

.navigate a{
    color: #fff;
}

.navigate a:hover{
    color: #00ffee;
    font-weight: bolder;
}

/*----- Status Note------*/
.note{
    background-color: #111314;
    padding: 20px;
    display: block;
}

.note span{
    font-size: 20px;
    margin-block: 5px;
}

/*----- details.html------*/
.head{
    display: flex;
    background-color: #2C2C2C;
    padding: 5px;
    font-weight: bold;
    font-size: 15px;
}

.authors{
    flex: 20%;
}

.content{
    flex: 80%;
}

.body{
    display: flex;
    background-color: #131415;
    padding: 10px;
    margin-top: 5px;
}

.body .authors .userrname{
    font-size: 20px;
}

.body .authors img{
    max-width: 100px;
    max-height: 180px;
}

.body .content .comment button{
    border: none;
    padding: 10px;
    font-weight: bolder;
    box-shadow: 4px 6px #fff;
    cursor: pointer;
    float: right;
}

/*----- comment------*/

.comment-area{
    margin-top: 50px;
}

.comment-area textarea{
    width: 100%;
    min-height: 150px;
    padding: 10px;
    margin-block: 10px;
}

.comment-area input{
    float: right;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.comment-area input:hover{
    border: solid 1px #000000;
    background-color: rgb(173, 169, 169);
}

.comments-container{
    margin-top: 50px;
}

.comment1-area{
    margin-top: 50px;
}

.comment1-area textarea{
    width: 100%;
    min-height: 150px;
    padding: 10px;
    margin-block: 10px;
}

.comment1-area input{
    float: right;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.comment1-area input:hover{
    border: solid 1px #000000;
    background-color: rgb(173, 169, 169);
}

.comments1-container{
    margin-top: 50px;
}

.comment2-area{
    margin-top: 50px;
}

.comment2-area textarea{
    width: 100%;
    min-height: 150px;
    padding: 10px;
    margin-block: 10px;
}

.comment2-area input{
    float: right;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.comment2-area input:hover{
    border: solid 1px #000000;
    background-color: rgb(173, 169, 169);
}

.comments2-container{
    margin-top: 50px;
}

.comment3-area{
    margin-top: 50px;
}

.comment3-area textarea{
    width: 100%;
    min-height: 150px;
    padding: 10px;
    margin-block: 10px;
}

.comment3-area input{
    float: right;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.comment3-area input:hover{
    border: solid 1px #000000;
    background-color: rgb(173, 169, 169);
}

.comments3-container{
    margin-top: 50px;
}

.comment4-area{
    margin-top: 50px;
}

.comment4-area textarea{
    width: 100%;
    min-height: 150px;
    padding: 10px;
    margin-block: 10px;
}

.comment4-area input{
    float: right;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.comment4-area input:hover{
    border: solid 1px #000000;
    background-color: rgb(173, 169, 169);
}

.comments4-container{
    margin-top: 50px;
}

/*-----------Chia Yik Seng's part--------------*/



/*-----------Footer--------------*/
#footer{
	background-color: #2d2a30;
	box-sizing: border-box;
	width: 100%;
	text-align:left;
	font:bold 16px; 
	padding: 50px 50px 50px 50px;
	
}

#footer .footer-left, #footer .footer-center, #footer .footer-right{
	display:inline-block;
	vertical-align:top;
}

#footer .footer-left{
	width:30%;
	text-align:center;
}

#footer h3{
	color: #fff;
	margin:0;
	font-weight:bold;
	font-size:30px;
	margin-bottom:20px;
}

.footer-left a{
	text-decoration: none;
	color: #fff;
	font-size:17px;
}

.footer-left a:hover{
	color:#000 ;
	background-color:#ff0000 ;
	font-weight: bold;
}

.footer-left p{
	color: #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin-top: 30px;
}

#footer .footer-center{
	width:35%;
}

#footer .footer-center table{
	margin:0 auto;
	padding:10px;
}

#footer .footer-center i{
	background-color: #33383b;
	color:#fff;
	font-size:25px;
	width:38px;
	height:38px;
	border-radius:50%;
	text-align:center;
	line-height:42px;
	margin:10px 15px;
	vertical-align:middle;
}

#footer .footer-center p{
	display:inline-block;
	color:#fff;
	vertical-align:middle;
	margin:0;
}

#footer .footer-right{
	width:30%;
	text-align:center;
	margin-left:20px;
}

#footer .footer-aboutclub{
	line-height: 20px;
	color:#ddd;
	font-size:15px;
	font-weight:normal;
	margin:0;
}

#footer .footer-aboutclub span{
	display:block;
	color:#ddd;
	font-size:18px;
	font-weight:bold;
	margin-bottom:20px;
}

#footer .footer-query{
	line-height: 20px;
	color:#ddd;
	font-size:18px;
	font-weight:normal;
	margin:0;
}

#footer .footer-query span{
	display:block;
	color:#ddd;
	font-size:18px;
	font-weight:bold;
	margin-bottom:20px;
	margin-top:40px;
}

#footer .footer-query a{
    text-decoration: none;
	color:#FFFF00;
	font-weight:bold;
}