vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|11 Jun 2023 13:49:02 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|MSI\\Dixon
vti_modifiedby:SR|MSI\\Dixon
vti_timecreated:TR|28 May 2023 16:30:27 -0000
vti_backlinkinfo:VX|Cheng\\ Wei\\ Quan/details.html Cheng\\ Wei\\ Quan/details2.html Cheng\\ Wei\\ Quan/forums.html Cheng\\ Wei\\ Quan/posts.html
vti_cacheddtm:TX|11 Jun 2023 13:49:02 -0000
vti_filesize:IR|14219
vti_cachedlinkinfo:VX|S|aquire.otf S|images/learning.png
vti_cachedsvcrellinks:VX|NSUS|FDD\\ Assignment/Cheng\\ Wei\\ Quan/aquire.otf FSUS|FDD\\ Assignment/Cheng\\ Wei\\ Quan/images/learning.png
